/* Don't print most external links */
.mediawiki .mw-body a.external.text:after,
.mediawiki .mw-body a.external.autonumber:after {
	content: '';
}

.mediawiki .mw-body a.external.text[ href^='//' ]:after,
.mediawiki .mw-body a.external.autonumber[ href^='//' ]:after {
	content: '';
}

/* But do print external links in references */
.mediawiki .mw-body ol.references a.external.text:after,
.mediawiki .mw-body ol.references a.external.autonumber:after {
	content: ' (' attr( href ) ')';
	word-break: break-all;
	word-wrap: break-word;
}

.mediawiki .mw-body ol.references a.external.text[ href^='//' ]:after,
.mediawiki .mw-body ol.references a.external.autonumber[ href^='//' ]:after {
	content: ' (https:' attr( href ) ')';
}
