.mw-electronPdfService-selection-body {
	display: inline-block;
}

.mw-electronPdfService-selection-image {
	/* size of the used svgs */
	width: 85px;
	height: 101px;
	background-position: center;
	background-repeat: no-repeat;
}

.mw-electronPdfService-selection-label-text {
	font-size: 16px;
	font-weight: bold;
	padding-top: 9px;
}

.mw-electronPdfService-selection-label-desc {
	font-size: 12px;
}

.mw-electronPdfService-selection-form label {
	border: 1px solid #c8ccd1;
	color: #545454;
	display: table-cell;
	padding: 15px;
}

.mw-electronPdfService-selection-field {
	padding-left: 20px;
}

.mw-electronPdfService-selection-field,
.mw-electronPdfService-selection-image {
	display: table-cell;
	vertical-align: middle;
}

.mw-electronPdfService-selection-form .oo-ui-buttonGroupWidget {
	display: block;
	margin-top: 15px;
	text-align: right;
}
